etcd:
  {{- range .Spec.Dep.Etcd.Endpoints }}
  endpoints:
    - {{ .}}
  {{- end }}
  rootPath: {{ .Name }}
minio:
  address: localhost
  port: 9000
  useSSL: false
  bucketName: {{ .Name }}
  rootPath: files

pulsar:
  address: localhost
  port: 6650
  maxMessageSize: 5242880 # 5 * 1024 * 1024 Bytes

kafka:
  {{- range .Spec.Dep.Kafka.BrokerList }}
  brokerList:
    - {{ .}}
  {{- end }}

rootCoord:
  port: {{ .Spec.Com.RootCoord.Port | default 53100 }}

proxy:
  port: {{ .Spec.Com.Proxy.Port | default 19530 }}

queryCoord:
  port: {{ .Spec.Com.QueryCoord.Port | default 19531 }}

queryNode:
  port: {{ .Spec.Com.QueryNode.Port | default 21123 }}

indexCoord:
  port: {{ .Spec.Com.IndexCoord.Port | default 31000 }}

indexNode:
  port: {{ .Spec.Com.IndexNode.Port | default 21121 }}

dataCoord:
  port: {{ .Spec.Com.DataCoord.Port | default 13333 }}

dataNode:
  port: {{ .Spec.Com.DataNode.Port | default 21124 }}

msgChannel:
  chanNamePrefix:
    cluster:           {{ .Name }}
